<div class="center">
    <input type="number" placeholder="Level Requirement" #levelReq>
    <button *ngIf="!(skyblockPlayers.length === guildSize)" (click)="getPlayerData()"  class="btn btn-primary">Get Guild Data</button>
    <button *ngIf="skyblockPlayers.length === guildSize" (click)="checkRequirement(skyblockPlayers, (levelReq.valueAsNumber * 100))"  class="btn btn-primary">Check Requirements</button>
</div>
<div *ngIf="skyblockPlayers.length > 0" class="center">Loaded {{skyblockPlayers.length}} players!</div>


<div class="container-fluid">
    <div *ngFor="let s of belowReq; index as i" style="float: left; margin: 10px;">
        <div class="card text-white bg-danger" style="width: 13rem; min-width: 13rem; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
            <img class="card-img-top" src="https://mc-heads.net/avatar/{{s.uuid}}.png" alt="{{s.name}}'s head">
            <div class="card-body">
              <h5 class="card-title">{{s.name}}</h5>
              <p class="card-subtitle mb-2">Guild Rank: {{s.guildRank}}</p>
              <p class="card-text fs-5">Highest Level: {{s.highestLevel / 100}}</p>
              <a class="btn btn-primary" (click)="copyKickCommand(s.name)" ngbTooltip="/g kick {{s.name}}">Copy Kick Command</a>
            </div>
        </div>
        <br>
    </div>    
</div>

<!-- <div class="container-fluid">
    <div *ngFor="let s of testPlayer; index as i" style="float: left; margin: 10px;">
        <div class="card text-white bg-danger" 
        style="width: 13rem;">
            <img class="card-img-top" src="https://mc-heads.net/avatar/{{s.uuid}}.png" alt="{{s.name}}'s head">
            <div class="card-body">
              <h5 class="card-title">{{s.name}}</h5>
              <p class="card-subtitle mb-2">Guild Rank: {{s.guildRank}}</p>
              <p class="card-text fs-5">Highest Level: {{s.highestLevel / 100}}</p>
              <a class="btn btn-primary" (click)="copyKickCommand(s.name)" ngbTooltip="/g kick {{s.name}}">Copy Kick Command</a>
            </div>
        </div>
    </div>
</div> -->