* {
    font-family: 'Helvetica';
}

#player {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid red 1px;
    position: left;
    width: 250px;
}

#playerData {
    display: flex;
    flex-direction: column;
}

#playerName {
    font-weight: bolder;
    font-size: larger;
}

.center {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
    margin-top: 10px;
}
