<app-player></app-player>

<footer class="navbar bg-dark d-flex align-items-center w-100 overflow-hidden">
    <ul class="nav m-auto">
        <li class="nav-item text-center p-2 text-white">
            Made with 🔥 by Rain
        </li>
        <li class="nav-item text-center p-2 text-white">
            Thanks to <a href="https://mc-heads.net" class="text-white">MCHeads</a> for providing Minecraft avatars.
        </li>
    </ul> 
    <p class="text-white" style="margin-right: 20px; margin-top: 13px;">
        Version 0.2
    </p>
</footer>