<div class="navbar navbar-expand-md bg-dark sticky-top">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto, mb-2, mb-lg-0, me-2">
            <li class="nav-item ms-2">
                <a class="text-white btn btn-dark" routerLink="">Home</a>
            </li>
            <li class="nav-item ms-2">
                <a role="button" class="text-white btn btn-dark" routerLink="/requirements">Requirements</a>
            </li>
            <li class="nav-item ms-2">
                <a role="button" class="text-white btn btn-dark" routerLink="/promotion">Promotion</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>

<footer class="navbar bg-dark d-flex align-items-center w-100" [ngClass]="route">
    <ul class="nav m-auto">
        <li class="nav-item text-center p-2 text-white">
            Made with 🔥 by Rain
        </li>
        <li class="nav-item text-center p-2 text-white">
            Thanks to <a href="https://mc-heads.net" class="text-white">MCHeads</a> for providing Minecraft avatars.
        </li>
    </ul> 
    <p class="text-white" style="margin-right: 20px; margin-top: 13px;">
        Version 1.0
    </p>
</footer>